<div class="row">
    <p>
        <h2>Kursy walut</h2>
    </p>
</div>
<div class="row">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Waluta</th>
                <th scope="col">Kurs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <input type="text" ng-model="searchName" class="form-control">
                </td>
                <td>
                    <select class="custom-select" ng-model="base" ng-change="getData()" ng-init="getData()" ng-options="item for item in names">
                    </select>
                </td>
            </tr>
            <tr ng-repeat="currency in currencies | filter: searchName">
                <th scope="row">{{$index + 1}}</th>
                <td>{{currency.name}}</td>
                <td>1 {{base}} = {{currency.rate | number:2}} {{currency.name}}</td>
            </tr>
        </tbody>
    </table>
</div>