<div class="row">
    <p>
        <h2>Kursy walut</h2>
    </p>
</div>
<div class="row">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    <a href="#" ng-click="setSorting('fullname')">Waluta</a>
                </th>
                <th scope="col">
                    <a href="#" ng-click="setSorting('rate')">Kurs</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <input type="text" ng-model="searchName" class="form-control">
                </td>
                <td>
                    <select class="custom-select" ng-model="base" ng-change="getData()" ng-init="getData()" ng-options="key as value for (key, value) in countries">
                    </select>
                </td>
            </tr>
            <tr ng-repeat="currency in currencies | filter: searchName | orderBy:sortType:sortReverse">
                <th scope="row">{{$index + 1}}</th>
                <td>
                    <img ng-src="img/flags/{{currency.name}}.png"> {{currency.fullname}}
                </td>
                <td>1 {{base}} = {{currency.rate | number:2}} {{currency.name}}</td>
            </tr>
        </tbody>
    </table>
</div>